@model IEnumerable<HMS.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HosId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HosId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
